{% extends "base.html" %}
{% block content %}


<div class="container">
  <h1>Обратная связь</h1>
<form style="margin-top: 25px;" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <fieldset>
    <legend>Добавить неисправность</legend>


      {{ form.as_p }}
      <button style="margin-top: 20px;" class="btn btn-primary"> Отправить </button>

<!--    <div class="form-group" style="margin-top: 30px;">-->
<!--      <label for="id_name"> Вашe имя: </label>-->
<!--      <input type="text" id="id_name" name="name" class="form-control" placeholder="Необязательное поле">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="id_text"> Описание: </label>-->
<!--      <textarea type="text" name="text" id="id_text" style="margin-bottom: 30px;" required="" class="form-control"></textarea>-->
<!--    </div>-->

<!--    <div class="custom-file">-->
<!--  <input type=file class="custom-file-input"  id="id_files" name="files" multiple="multiple">-->
<!--  <label class="custom-file-label" for="id_files" data-browse="Открыть"> Выбрать документ... </label>-->
<!--   </div>-->

<!--    <div class="custom-control custom-switch" style="margin-top: 30px;">-->
<!--      <input type="checkbox"  class="custom-control-input" name="importance" id="id_importance">-->
<!--      <label class="custom-control-label" for="id_importance">Срочность</label>-->
<!--    </div>-->

<!--    <button style="margin-top: 30px;" type="submit" class="btn btn-primary"> Отправить </button>-->
  </fieldset>
</form>
    </div>

{% endblock %}

