{% extends "base.html" %}
{% block content %}

<div class="container">
        <h1 class="text-center mb-5 mt-5">Список неисправностей</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Имя</th>
              <th scope="col">Описание</th>
              <th scope="col">Срочность</th>
              <th scope="col">Подробнее</th>
            </tr>
          </thead>
          <tbody>
          {% for complaint in complaints %}

          <tr>
              <td>{{ complaint.id }}</td>
              <td>{{ complaint.name }}</td>
              <td>{{ complaint.text }}</td>
              {% if complaint.importance %}
              <td> Срочно </td>
                {% else %}
              <td>Не срочно </td>
                {% endif %}
              <td><a href="#">Детали</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}